{% extends "base.html" %}

{% block content %}

 <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

	<style>
		html {
			overflow-y: auto;
		}
        .ql-toolbar.ql-snow
        {
            background-color:white!important;
        }
	</style>


      <div class="ui form">
          <div class="feild">
              <label>Review</label>
            <div id="editor" style="background-color:#fff;height:20em!important;">
                <p>Please write your views here !</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><br></p>
            </div>
          </div>
             <!-- <div class="field">
                <label>Dr Review for SMS</label>
                <textarea rows="3"></textarea>
            </div> -->
            <!-- <div class="two fields">
                <div class="field">
                <label> Condition Type </label>
             <div class="ui selection dropdown" >
                <input type="hidden" name="cd_type">
          <i class="dropdown icon"></i>
          <div class="default text">ConditionType</div>
                <div class="menu">
                    <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search Condition Type...">
                    </div>
                    <div class="divider"></div>
                    <div class="header">
                    <i class="file icon"></i>
                    Select Condition Type
                    </div>
                    <div class="scrolling menu">
                    <div class="item" data-value="abnormal">
                        <div class="ui red empty circular label"></div>
                        Abnormal
                    </div>
                    <div class="item" data-value="covid">
                        <div class="ui blue empty circular label"></div>
                       Covid
                    </div>
                    <div class="item" data-value="normal">
                        <div class="ui black empty circular label"></div>
                        Normal
                    </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="field">
                    <label> Condition Type Reason </label>
                <div class="ui selection dropdown" >
                  <input type="hidden" name="cd_reason">
                    <i class="dropdown icon"></i>
                    <div class="default text">Reason</div>
                <div class="menu">
                    <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search Condition Reason...">
                    </div>
                    <div class="divider"></div>
                    <div class="header">
                    <i class="file icon"></i>
                    Select Reason Type
                    </div>
                    <div class="scrolling menu">
                    <div class="item" data-value="abnormal">
                        <div class="ui red empty circular label"></div>
                      Text1
                    </div>
                    <div class="item" data-value="covid">
                        <div class="ui blue empty circular label"></div>
                      Text2
                    </div>
                    <div class="item" data-value="normal">
                        <div class="ui black empty circular label"></div>
                        Text3
                    </div>
                    </div>
                </div>
                </div>  

                </div> -->
                <div class="two fields">
                    
                        <div class="field">
                          <label> Condition Type </label>
                          <input type="text" id="type" name="cdtype" placeholder="Condition Type">
                        </div>
                        <div class="field">
                          <label> Condition Type Reason </label>
                          <input type="text" id="reason" name="reason" placeholder="Reason">
                        </div>
                      
                </div>


            </div>
 <button class="ui teal labeled icon button" style="margin-top: 1em;"><i class="save icon"></i>Save Review
          </button>
        
      <button class="ui purple labeled icon button" style="margin-top: 1em;"><i class="comment icon" ></i>Last Dr. Review
          </button>
  


         </div>

<script>
    var data = JSON.parse("{{data|escapejs}}");
    var type = data['type'];
    var reason = data['reason'];
    var description = data['description'];
    var review = data['review'];
    //console.log(data);
    document.getElementById('editor').innerHTML = review;
    $('#type').val(type);
    $('#reason').val(reason);
</script>
       
        <script>
            $('.dropdown').dropdown();
        </script>
            <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

            <script>
            var quill = new Quill('#editor', {
                theme: 'snow'
            });
            </script>
            
        <script>
            $(".accordion").accordion();
           
            </script>
{% endblock content %}