{% extends "base.html" %}

{% block content %}

<script>
    $("a").eq(5).removeClass("active");
    $("a").eq(10).addClass("active");
    </script>

    <table id="example" class="ui celled table" style="width:100%">
            <thead>
                
            <tr><th colspan="3">
            My Files
            </th>
            </tr>
            <tr>  
                <th>FileName</th>
                <th>Annotation</th>
                <th>Last Edit</th>
                <th>Doctor Review</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td class="collapsing"> 
                    <i class="file alternate icon"></i>Skull_20
                </td>
                <td class="positive"><i class="icon checkmark"></i>Annotated </td>
                <td>9 hours ago</td>
                <td><a href="comments.html" style="color:white;"> <div class="ui small right floated teal labeled icon button">
                    <i class="plus circle icon" style="padding-right:5px;"></i>Review
                    </div></a></td>
                </tr>
                <tr>
                
                <td>
                    <i class="file outline icon"></i>TopView_220
                </td>
                 <td class="error"><i class="icon attention"></i>Not Annotated </td>
                <td> - </td>
                <td><a href="comments.html" style="color:white;"> <div class="ui small right floated teal labeled icon button">
                    <i class="plus circle icon" style="padding-right:5px;"></i>Review
                    </div></a></td>
                </tr>
                <tr>
                <td>
                   <i class="file alternate icon"></i>Abdomen_35
                </td>
                <td class="positive"><i class="icon checkmark"></i>Annotated </td>
                <td>2 days ago</td>
                <td><a href="comments.html" style="color:white;"> <div class="ui small right floated teal labeled icon button">
                    <i class="plus circle icon" style="padding-right:5px;"></i>Review
                    </div></a></td>
                </tr>
                <tr>
                <td>
                    <i class="file alternate  icon"></i>Skull_7
                </td>
               <td class="positive"><i class="icon checkmark"></i>Annotated </td>
                <td >10 hours ago</td>
                <td><a href="comments.html" style="color:white;"> <div class="ui small right floated teal labeled icon button">
                    <i class="plus circle icon" style="padding-right:5px;"></i>Review
                    </div></a></td>
                </tr>
                <tr>
                <td>
                    <i class="file outline icon"></i>SampleData_67
                </td>
                <td class="error"><i class="icon attention"></i>Not Annotated </td>
                <td> - </td>
                <td><a href="comments.html" style="color:white;"> <div class="ui small right floated teal labeled icon button">
                    <i class="plus circle icon" style="padding-right:5px;"></i>Review
                    </div></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                <th colspan="4">
                    <div class="ui right floated primary labeled icon button">
                    <i class="plus circle icon" style="padding-right:5px;"></i> Add New
                    </div>
                </th>
                </tr>
            </tfoot>
            </table>    
       
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>
        <script>
            $(document).ready(function() {
            $('#example').DataTable({
                "order": [[ 0, "desc" ]]
            });
        });
        </script>
{% endblock content %}