{% extends "base.html" %}

{% block content %}

<script>
    $("a").eq(5).removeClass("active");
    $("a").eq(10).addClass("active");
    </script>

    <table id="example" class="ui celled table" style="width:100%">
            <thead>
                
            <tr><th colspan="7">
            My Files
            </th>
            </tr>
            <tr>  
                <th>Name</th>
                <th>Gender</th>
                <th>IsAnnotated</th>
                <th>Date</th>
                <th>IsAnalyzed</th>
                <th>Percentage</th>
                <th>Doctor Review</th>
                </tr>
            </thead>
            <tbody id="something">
                
            </tbody>
            <tfoot>
                <tr>
                <th colspan="7">
                    <div class="ui right floated primary labeled icon button">
                    <i class="plus circle icon" style="padding-right:5px;"></i> Add New
                    </div>
                </th>
                </tr>
            </tfoot>
            </table>
            <form id="formId1" action="" method="POST">
               {% csrf_token %}
                <input type="hidden" name="type" id="type">
                <input type="hidden" name="reason" id="reason">
                <input type="hidden" name="description" id="description">
                <input type="hidden" name="review" id="review">
            </form> 
       
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>
        <script>
            function myfunc(studyid)
                {
                    var ob = response_data[studyid];
                        
                            $('#type').val(ob.type);
                            $('#reason').val(ob.reason);
                            $('#description').val(ob.description);
                            $('#review').val(ob.review);
                            $('#formId1').submit();
                }

           // var data = JSON.parse("{{data|escapejs}}");
            let request = new XMLHttpRequest();
            var response_data; 
            request.open("POST", "http://192.168.1.196:5000/get?offset=1&count=10",
                true); 
            
            request.send();
            request.onload = () => {
                
                //console.log(request);
                if (request.status == 200) {
                    console.log(JSON.parse(request.response));
                    response_data = JSON.parse(request.response);
                    console.log(response_data);
                    var k='';
                    console.log(response_data.length);
                    var keys = Object.keys(response_data);

                   keys.forEach((key, index) => {
                    var ob = response_data[key];
                    var name = ob.name;
                    var gender = ob.sex;
                    var annotated = ob.is_annotated;
                    var analyzed = ob.is_analyzed; 
                    var date  =  ob.date;
                    var pattern = /(\d{4})(\d{2})(\d{2})/;
                    var dt = new Date(date.replace(pattern,'$1-$2-$3'));
                    date = dt.toLocaleDateString();
                    var percentage = ob.percentage;
                    var studyid = ob.studyinstanceid;
                    var uploaded = ob.is_uploaded;
                    //conole.log(1);
                    if(uploaded==="True")
                    {
                        k+=`<tr><td><i class="icon checkmark"></i>${name}</td>`;
                    }
                    else{
                        k+=`<tr><td><i class="icon close red"></i>${name}</td>`;
                    }
                    k+=`<td>${gender}</td>`;
                    if(annotated==="True")
                    {
                        k+=`<td class="positive"><i class="icon checkmark"></i>Annotated </td>`
                    }   
                    else{
                        k+=`<td class="error"><i class="icon attention"></i>Not Annotated </td>`;
                    }
                     k+=`<td>${date}</td>`;
                    if(analyzed==="True")
                    {
                        k+=`<td class="positive"><i class="icon checkmark"></i>Analyzed&nbsp&nbsp <a href="../getreport" target="_blank" class="ui center small green button" id = "report-download">Get Report</a></td>`
                    }
                    else
                    {   
                        k+=`<td class="error"><i class="icon attention"></i> Not Analyzed <button class="ui small center purple button">Analyze now</button> </td>`;
                    }
                    k+=`<td>${percentage}</td>`;
                    k+=`<td><a onclick="myfunc('${key}')" style="color:white;"> <div class="ui small right floated teal labeled icon button">
                        <i class="plus circle icon" style="padding-right:5px;"></i>Review
                        </div></a></td>
                    </tr>`;
                    });

                    //console.log(k);
                    document.getElementById('something').innerHTML=k;
                     $('#example').DataTable({
                        "order": [[ 0, "desc" ]]
                        });
                } else {
                        console.log("Something went wrong.");
                    }
                };

               

        </script>
        <script>
            
           
       
        </script>
{% endblock content %}