<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js">
	</script>
	<style>
		html {
			overflow-y: auto;
		}
	</style>

</head>

<body  style="background:#f1f5f8">

	<div class="ui teal attached menu" style="background-color:rgb(118, 27, 204);">
		<div class="header item" style="color:white;"> HOPS Disease Prediction Service</div>

		<div class="right menu">
			<a class="ui item" style="color:white;" onclick="swal()">
				Instructions
			</a>

      <a class="ui item" style="color:white;" href="login.html">
				Login 
			</a>
      			<a class="ui item" style="color:white;" href="register.html">
				Register
			</a>
			</div>
	</div>
<style type="text/css">
    body {
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: grayscale;
    }

    .masthead.segment {
      min-height: 600px;
    }

    .masthead .logo.item img {
      margin-right: 1em;
    }

    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }

    .masthead h1.ui.header {
      margin-top: 2em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }

    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }

    .ui.vertical.stripe h3 {
      font-size: 2em;
    }

    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }

    .ui.vertical.stripe .floated.image {
      clear: both;
    }

    .ui.vertical.stripe p {
      font-size: 1.33em;
    }

    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }

    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

  </style>
  <!--Page Contents-->
  
    <div class="ui inverted vertical masthead center aligned segment" >

      <div class="ui text container">
        <h1 class="ui inverted header">HOPS Disease Prediction Service</h1>
              </br>
            </br>
        <div class="ui huge primary button" ><a href="index.html" style="color:white">
          Get Started <i class="right arrow icon"></i></a>
        </div>
      </div>
  </div>
    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">Lorem ipsum</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in felis eget augue fringilla tristique. Praesent nec semper lacus. Etiam feugiat est eu quam vulputate, sed varius purus egestas. Quisque metus neque, maximus vitae elit vel, molestie hendrerit ipsum. Vestibulum at augue quis augue pellentesque interdum eget quis ipsum.
            </p>
            <h3 class="ui header">Lorem ipsum</h3>
            <p>
              Suspendisse sagittis mauris vitae risus efficitur, nec congue enim pulvinar. Integer maximus luctus varius. Vestibulum ut laoreet nulla. Nulla viverra, tellus ac blandit pretium, purus nulla maximus enim, eget pretium erat dolor id neque. 
            </p>
          </div>
          <div class="six wide right floated column">
            <img
              class="ui large bordered rounded image"
              src="5063406.jpg"
            />
          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            <a class="ui huge button">Check Them Out</a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div
          class="ui stackable inverted divided equal height stackable grid"
        >
          <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Sitemap</a>
              <a class="item" href="#root">Contact Us</a>
              <a class="item" href="#root">Religious Ceremonies</a>
              <a class="item" href="#root">Gazebo Plans</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Services</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Banana Pre-Order</a>
              <a class="item" href="#root">DNA FAQ</a>
              <a class="item" href="#root">How To Access</a>
              <a class="item" href="#root">Favorite X-Men</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>
              Extra space for a call to action inside the footer that could
              help re-engage users.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <script>
    $(document).ready(function() {
      // fix menu when passed
      $(".masthead").visibility({
        once: false,
        onBottomPassed: function() {
          $(".fixed.menu").transition("fade in");
        },
        onBottomPassedReverse: function() {
          $(".fixed.menu").transition("fade out");
        }
      });

      // create sidebar and attach to menu open
      $(".ui.sidebar").sidebar("attach events", ".toc.item");
    });
  </script>

        <script>
            $('#login').submit(function() {
                var values = {};
                $.each($('#login').serializeArray(), function(i, field) {
                    values[field.name] = field.value;
                });
                if(values['hospitalid']==1&&values['pass']=="hops")
                {
                    $('#message').removeClass('warning').addClass('positive');
                    $('#message').find("i").addClass('open');
                    $('#message').find("header").html('Login complete');
                    $('#message').find("p").html('Now you can use our services');
                    $('#app-body')
                        .toast({
                            displayTime: 5000,
                            message: 'Login Complete',
                            class : 'teal',
                            className: {
                            toast: 'ui message'
                        }
                });
                }
                else
                {
                    $('#app-body')
                    .toast({
                        displayTime: 5000,
                        message: 'Check Your id and password',
                        class : 'red',
                        className: {
                        toast: 'ui message'}
                });
                }
                
            });
            </script>
		<script src='https://cdn.jsdelivr.net/npm/sweetalert2@10'>
		</script>
		<script>
			function swal()
            {
                Swal.mixin({
                confirmButtonText: 'Next &rarr;',
                showCancelButton: true,
                closeOnCancel: true,
                progressSteps: ['1', '2', '3']
                }).queue([
                {
                    title: 'Select Type',
                text: 'Select type of files that you want to upload',
                imageUrl: 'https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/3594607-min.jpg',
                imageWidth: 320,
                imageHeight: 200,
                imageAlt: 'Type',
                },
                {
                    title: 'Upload folder',
                text: 'Upload from local device or using url.',
                imageUrl: 'https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/3125018-min.jpg',
                imageWidth: 320,
                imageHeight: 200,
                imageAlt: 'Upload',
                },
                {
                    title: 'Annotate',
                text: 'Annotate files using dicom viewer and save changes',
                imageUrl: 'https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/3369515-min.jpg',
                imageWidth: 320,
                imageHeight: 200,
                imageAlt: 'Annotate',
                },
                ]).then((result) => {
                  if (result.value) {
                    Swal.fire({
                    icon:'success',
                    title: 'All done!',
                    text:'Now you can use our service',
                    confirmButtonText: 'Lovely!'
                    })
                  }
                })
               
            }
		</script>
</body>

</html>