{% extends "base.html" %}

{% block content %}


            <div class="ui centered grid container">
                <div class="nine wide column">
                <div class="ui icon warning message" id="message">
                    <i class="lock icon"></i>
                    <div class="content">
                        <div class="header">
                        Registration incomplete
                        </div>
                        <p>Please enter the details to register</p>
                    </div>
                    </div>
                <div class="ui fluid card">
                    <div class="content">
                    <form class="ui form" id="login" method="POST">
                    <div class="field">
                        <label>Hospital ID</label>
                        <input type="text" name="hospitalid" placeholder="Hospital ID">
                    </div>
                    <div class="field">
                        <label>Hospital Name</label>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input type="text" name="Address" placeholder="Address">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="pass" placeholder="Password">
                    </div>
                    <div class="field">
                        <label>Confirm Password</label>
                        <input type="password" name="pass" placeholder="Confirm Password">
                    </div>
                     <button class="ui violet primary labeled icon button" type="submit">
                        <i class="paper plane icon" style="background-color: rgba(100, 31, 211, 0.089);"></i>Create Account
                     </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#login').submit(function() {
                var values = {};
                $.each($('#login').serializeArray(), function(i, field) {
                    values[field.name] = field.value;
                });
                if(values['hospitalid']==1&&values['pass']=="hops")
                {
                    $('#message').removeClass('warning').addClass('positive');
                    $('#message').find("i").addClass('open');
                    $('#message').find("header").html('Login complete');
                    $('#message').find("p").html('Now you can use our services');
                    $('#app-body')
                        .toast({
                            displayTime: 15000,
                            message: 'Registration Completed',
                            class : 'teal',
                            className: {
                            toast: 'ui message'
                        }
                });
                }
                else
                {
                    $('#app-body')
                    .toast({
                        displayTime: 15000,
                        message: 'Check if details are entered properly',
                        class : 'red',
                        className: {
                        toast: 'ui message'}
                });
                }
                
            });
            </script>

{% endblock content %}