{% extends "base.html" %}

{% block content %}

<script>
    $("a").eq(5).removeClass("active");
    $("a").eq(7).addClass("active");
    </script>
            <div id="render_me">
                <div id="table">
                <table class="ui teal table">
                    
                    <tbody>
                        <tr>
                        <td><b>Name</b></td>
                        <td>Rahul Jain</td>
                        
                        </tr>
                        <tr>
                        <td><b>Age</b></td>
                        <td>21</td>
                        </tr>
                         <tr>
                        <td><b>Sex</b></td>
                        <td>Male</td>
                        
                        </tr>
                        <tr>
                        <td><b>Address</b></td>
                        <td>19 Narayan Chambers , 2nd Floor , Behind Patang Hotel , Ashram Road, Ahmedabad, Gujarat 380009</td>
                        </tr>
                        <tr>
                        <td><b>Result Type</b></td>
                        <td>Abnormal</td>
                        </tr>
                         <tr>
                        <td><b>Global Diagnosis</b></td>
                         <td>Mild</td>
                        </tr>
                    </tbody></table>
                </div>
                <div class="ui four column grid" style="margin-top:1%">
                    <div class="column">
                    <div class="ui segment">
                         <a class="ui violet ribbon label"  id="pop" data-html="<table class='ui violet table'><tbody><tr>
                        <td><b>Region1</b></td>
                        <td>70%</td>
                        </tr>
                        <tr>
                        <td><b>Region2</b></td>
                        <td>30%</td>
                        </tr></tbody></table>">Front</a>
                        <img class="ui medium image" src="https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/front.png">
                    </div>
                    </div>
                    <div class="column">
                    <div class="ui segment">
                        <a id="pop" class="ui violet ribbon label">Lateral</a>
                        <img class="ui medium image" src="https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/lateral.png">

                    </div>
                    </div>
                    <div class="column">
                    <div class="ui segment">
                        <a id="pop" class="ui violet ribbon label">Natural</a>
                        <img class="ui medium image" src="https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/natural.png">
                    </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                        <a id="pop" class="ui violet ribbon label">Top</a>
                        <img class="ui medium image" src="https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/top.png">
                    </div>
                    </div>
                 </div>
<!--
            <div class="ui small images" style="margin:2em">

                    <img class="ui medium bordered image" src="front.png" style="height: 250px;  width: 250px;margin:0.5em">
                
                    <img class="ui medium bordered image" src="lateral.png" style="height: 250px;  width: 250px;margin:0.5em">

                    <img class="ui medium bordered image" src="top.png" style="height: 250px;  width: 250px;margin:0.5em">
 
                    <img class="ui medium bordered image" src="natural.png" style="height: 250px;  width: 250px;margin:0.5em">

                </div>-->
                
                  <div class="ui container" style="margin-top:1%">
                <button class="ui green labeled icon button" id = "report-download"  style="margin:1%"><i class="file alternate icon" style="background-color: rgba(100, 31, 211, 0.089);"></i>Download Report</button>
                <a href="/vtkviewer">
                 <button class="ui blue primary labeled icon button" style="margin:1%">
                        <i class="x ray icon" style="background-color: rgba(100, 31, 211, 0.089);"></i>View VTK File
                     </button>
                     </a>
                  <button class="ui teal primary labeled icon button" style="margin:1%" type="submit">
                        <i class="images icon" style="background-color: rgba(100, 31, 211, 0.089);"></i>View 2D Images
                     </button>
                </div>
            
        <script src='https://parall.ax/parallax/js/jspdf.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js'></script>
        <script>
           /* var doc = new jsPDF();
            var specialElementHandlers = {
                '#editor': function(element, renderer){
                    return true;
                }
            };

            doc.fromHTML($('#render_me').get(0), 15, 15, {
                'width': 100, 
                'elementHandlers': specialElementHandlers
            });

            $('a').click(function(){
            doc.save('TestHTMLDoc.pdf');
            });
    
           var element = document.getElementById('render_me');

            html2pdf(element).set({
            margin: 1,
            filename: 'test.pdf',
            html2canvas: { scale: 2 },
            jsPDF: {orientation: 'portrait', unit: 'in', format: 'letter', compressPDF: false}
            }).save();*/
        </script>
		
		<script>
            $('#pop').popup({
            inline     : true,
            hoverable  : true,
            position   : 'top center',
            delay: {
            show: 100,
            hide: 400
            }
         });
			
{% endblock content %}