{% extends "base.html" %}

{% block content %}

<script>
    $("a").eq(5).removeClass("active");
    $("a").eq(6).addClass("active");
    </script>

	<link href="https://transloadit.edgly.net/releases/uppy/v1.16.1/uppy.min.css" rel="stylesheet">
			<div class="ui tablet stackable steps">
				<div class="active step" id="upload-step">
					<i class="upload icon" ></i>
              <div class="content" >
                <div class="title" >Upload File</div>
                <div class="description">Upload your DICOM/Image file</div>
              </div>
            </div>
            <div class="disabled step" id = "diag-step">
              <i class="whmcs icon" ></i>
              <div class="content">
                <div class="title" >Train</div>
                <div class="description" >Train your data</div>
              </div>
            </div>
          </div>
        </br>
            <div id="ftype" class="ui violet basic floating dropdown labeled icon button" >
    <i class="file icon" style="background-color: rgba(100, 31, 211, 0.089);"></i>
    <span id="filetype" class="text">FileType</span>
    <div class="menu">
        <div class="ui icon search input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search File Type...">
        </div>
        <div class="divider"></div>
        <div class="header">
        <i class="file icon"></i>
        Select File Type
        </div>
        <div class="scrolling menu">
        <div class="item" data-value=".jpeg">
            <div class="ui red empty circular label"></div>
            JPEG
        </div>
        <div class="item" data-value=".dcm">
            <div class="ui blue empty circular label"></div>
            DICOM
        </div>
        <div class="item" data-value=".zip">
            <div class="ui black empty circular label"></div>
            ZIP
        </div>
        <div class="item" data-value=".png">
            <div class="ui purple empty circular label"></div>
            PNG
        </div>
        
        </div>
    </div>
    </div>


          <button class="ui violet basic labeled icon button"  tabindex="0" id="uppy-btn" style="margin: 1em;" onclick="upload()"><i class="upload icon" style="background-color: rgba(100, 31, 211, 0.089);"></i>Upload File
          </button>
          <form action="{% url 'getreport' %}" method="post">
            {% csrf_token %}
          <div class="ui input">
            <input type="text" placeholder="Enter Study Instance ID" name="studyid">
          </div>
        </br>
        
        <button class="ui violet fluid button" id = "diag-button" style="margin: 1em; width: 8em;  margin: auto; width: 20%;" style="background-color: rgba(16, 136, 136, 0.726);" type="submit"><div>Train</div>
        </button>
    </form>
  </br>
       
          <div id="drag-drop-area"></div>



        </div>
      </div>
 
    <script src="https://transloadit.edgly.net/releases/uppy/v1.16.1/uppy.min.js"></script>

<script>

    var allowedfiles=[];
    var uppy = Uppy.Core({
            debug: true,
            restrictions: {
                maxFileSize: 1000000,
                maxNumberOfFiles: 10,
                minNumberOfFiles: 1,
                allowedFileTypes:allowedfiles
            }
            })
            uppy.use(Uppy.Dashboard, {
            target: '#drag-drop-area',
            theme:'dark',
            browserBackButtonClose: true,
			closeModalOnClickOutside: true,
			closeAfterFinish: true,
            onRequestCloseModal: () => {
                    uppy.getPlugin('Dashboard').closeModal();
                },

            })
            uppy.use(Uppy.Tus, {endpoint: 'https://tusd.tusdemo.net/files/'})

            const Url = Uppy.Url
            uppy.use(Url, {target: Uppy.Dashboard, companionUrl: 'https://companion.uppy.io/'})
            uppy.use(Uppy.GoogleDrive, { target: Uppy.Dashboard, companionUrl: 'https://companion.uppy.io' })
            uppy.use(Uppy.Dropbox, { target: Uppy.Dashboard, companionUrl: 'https://companion.uppy.io' })
            uppy.use(Uppy.OneDrive, { target: Uppy.Dashboard, companionUrl: 'https://companion.uppy.io' })

            uppy.on('complete', (result) => {
                console.log('Upload complete! We’ve uploaded these files:', result.successful)
                document.getElementById("diag-button").classList.remove('disabled');
                $('#app-body')
                .toast({
                    message: 'File Uploaded',
                    class : 'teal',
                    className: {
                    toast: 'ui message'
                }
                })
                document.getElementById("upload-step").classList.add('completed');
                document.getElementById("diag-step").classList.remove('disabled');
                document.getElementById("diag-step").classList.add('active');
                
            })
    var value='FileType';
    $('.ui.dropdown').dropdown('setting', 'onChange', function(){
        value = $('#ftype').dropdown('get value');
    });
    function upload()
    {
        var file_text = document.getElementById("filetype").innerText;
        console.log(file_text);
        if(file_text=="FileType")
        {
            Swal.fire({
                    icon:'error',
                    title: 'Please select type of file',
                    
                    confirmButtonText: 'Okay!'
                    })
        }
        else
        {
            uppy.getPlugin('Dashboard').openModal();
            allowedfiles=[];
            allowedfiles.push(".".concat(file_text.toLowerCase().trim()));
            //console.log(allowedfiles[0]); 
            //console.log(uppy);
            uppy["opts"]["restrictions"]["allowedFileTypes"]=allowedfiles;
           // document.getElementById("uppy-btn").classList.remove('disabled');
            //document.getElementById("uppy-btn").classList.add('active');
        }
    }
    
</script>

       
        <script>
           
            function train()
            {
                Swal.fire({
                    icon:'success',
                    title: 'We have received your files',
                    text:'Now We will train model in less than 24 hrs and send you the notification.',
                    confirmButtonText: 'Done!',
                    showCloseButton: true,
                    })
            }
         
    </script>
    <script>
    (document).ready(function( $ ){
  // Get page title
  	var pageTitle = $("title").text();
  
  // Change page title on blur
  $(window).blur(function() {
	  $("title").text("Miss You ❤");
	});

	// Change page title back on focus
	$(window).focus(function() {
	  $("title").text(pageTitle);
	});
});
        </script>

{% endblock content %}

