<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js">
	</script>
	<style>
		html {
			overflow-y: auto;
		}
	</style>

</head>

<body  style="background:#f1f5f8;padding-right:0em !important">

	<div class="ui teal attached menu" style="margin-bottom: 1.5em; background-color:rgb(118, 27, 204);">
		<div class="header item" style="color:white;"> HOPS Disease Prediction Service</div>

		<div class="right menu">
			<a class="ui item" style="color:white;" onclick="swal()">
				Instructions
			</a>
      <a class="ui item" style="color:white;" href="/">
				Home 
			</a>
      <a class="ui item" style="color:white;" href="/login">
				Login 
			</a>
      			<a class="ui item" style="color:white;" href="/register">
				Register
			</a>
			<a class="ui item" style="color:white;">
				Logout
			</a>
		</div>
	</div>
	<div class="ui grid">
		
		<div class="sixteen wide column" id="app-body">
            
		</div>

	</div>
    <script>
        var data = JSON.parse("{{data|escapejs}}");
        console.log(data);
        var arr = data['list'];
        var studyid = data['studyid'];
        var len = arr.length;
        var j='';
        var k='';
        for(var i=1;i<=len-9;i++)
        {
            
            var src = studyid+"/"+arr[i-1];
            k+=`<div class="column">
                <div class="ui segment">
                    <img class="ui medium image" src="${src}">
                </div>
                </div>`
            if(i%6==0)
            {
                j+=`<div class="ui six column grid" style="margin-top:1%">`;
                j+=k;
                j+=`</div>`;
                k='';

            }
             
        }
        j+=k;
        document.getElementById("app-body").innerHTML = j;

        
 </script>
        
        <script>
            $('#login').submit(function() {
                var values = {};
                $.each($('#login').serializeArray(), function(i, field) {
                    values[field.name] = field.value;
                });
                if(values['hospitalid']==1&&values['pass']=="hops")
                {
                    $('#message').removeClass('warning').addClass('positive');
                    $('#message').find("i").addClass('open');
                    $('#message').find("header").html('Login complete');
                    $('#message').find("p").html('Now you can use our services');
                    $('#app-body')
                        .toast({
                            displayTime: 5000,
                            message: 'Login Complete',
                            class : 'teal',
                            className: {
                            toast: 'ui message'
                        }
                });
                }
                else
                {
                    $('#app-body')
                    .toast({
                        displayTime: 5000,
                        message: 'Check Your id and password',
                        class : 'red',
                        className: {
                        toast: 'ui message'}
                });
                }
                
            });
            </script>
		<script src='https://cdn.jsdelivr.net/npm/sweetalert2@10'>
		</script>
		<script>
			function swal()
            {
                Swal.mixin({
                confirmButtonText: 'Next &rarr;',
                showCancelButton: true,
                closeOnCancel: true,
                progressSteps: ['1', '2', '3']
                }).queue([
                {
                    title: 'Select Type',
                text: 'Select type of files that you want to upload',
                imageUrl: 'https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/first.jpg',
                imageWidth: 320,
                imageHeight: 200,
                imageAlt: 'Type',
                },
                {
                    title: 'Upload folder',
                text: 'Upload from local device or using url.',
                imageUrl: 'https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/second.jpg',
                imageWidth: 320,
                imageHeight: 200,
                imageAlt: 'Upload',
                },
                {
                    title: 'Annotate',
                text: 'Annotate files using dicom viewer and save changes',
                imageUrl: 'https://cdn.jsdelivr.net/gh/prakhar-ai/Hops-UI/templates/third.jpg',
                imageWidth: 320,
                imageHeight: 200,
                imageAlt: 'Annotate',
                },
                ]).then((result) => {
                  if (result.value) {
                    Swal.fire({
                    icon:'success',
                    title: 'All done!',
                    text:'Now you can use our service',
                    confirmButtonText: 'Lovely!'
                    })
                  }
                })
               
            }
		</script>
</body>

</html>
    

        